In [28]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
train_data = pd.read_csv('train_data_titanic.csv')

In [4]:
train_data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Exploratory Data Analysis

### Data Description

In [16]:
train_data.shape

(891, 12)

In [23]:
train_data.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [17]:
data_for_modelling = train_data[['Survived','Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked']]

In [18]:
data_for_modelling.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [34]:
data_for_modelling.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

### Correlation

In [19]:
data_for_modelling.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [46]:
cat_data = train_data[['Pclass','Sex','SibSp','Parch','Embarked','Survived']]

In [47]:
#Encoding 1 & 0
cat_data['Sex'] =cat_data['Sex'].apply(lambda x:1 if x=='male' else 0)
ordinal_label = {k: i for i, k in enumerate(cat_data['Embarked'].unique(), 0)}
cat_data['Embarked'] = cat_data['Embarked'].map(ordinal_label)

In [48]:
from sklearn.feature_selection import chi2

# chi2 returns 2 values F Score and P values
# Higher F Score - More important feature ; Lesser P Value - More important feature

X = cat_data.drop(['Survived'],axis =1)
Y = cat_data[['Survived']]
f_p_value = chi2(X,Y)
f_p_value

(array([30.87369944, 92.70244698,  2.58186538, 10.09749911, 14.12425688]),
 array([2.75378563e-08, 6.07783826e-22, 1.08094210e-01, 1.48470676e-03,
        1.71122816e-04]))